name: Python autotests

on:
  workflow_dispatch:
    inputs:
      deployment_target:
        description: choice tests set
        required: true
        type: choice
        default: smoke
        options:
          - smoke
          - regression
          - extended
          - all

jobs:
  run-tests:
    runs-on: ubuntu-latest
    name: Run autotests
    steps:
      - name: Checkout autotests
        uses: actions/checkout@v6
      - name: Set up Python environment
        uses: actions/setup-python@v6
        with:
          python-version: '3.13'
      - name: Install dependencies
        run: pip install -r requirements.txt
      - name: Run all tests
        if: "github.event.inputs.deployment_target == 'all'"
        run: pytest -vs --alluredir=allure-results
      - name: Run smoke tests
        if: "github.event.inputs.deployment_target == 'smoke'"
        run: pytest -vs -m smoke --alluredir=allure-results
      - name: Run regression tests
        if: "github.event.inputs.deployment_target == 'regression'"
        run: pytest -vs -m regression --alluredir=allure-results
      - name: Run extended tests
        if: "github.event.inputs.deployment_target == 'extended'"
        run: pytest -vs -m extended --alluredir=allure-results
      - name: Install java
        uses: actions/setup-java@v5
        with:
          distribution: 'microsoft' # See 'Supported distributions' for available options
          java-version: '17'
      - name: Install allure
        run: wget https://github.com/allure-framework/allure2/releases/download/2.35.1/allure-2.35.1.tgz && tar -zxvf allure-2.35.1.tgz -C /opt/ && ln -s /opt/allure-2.35.1/bin/allure /usr/bin/allure
      - name: Generate reports
        run: allure generate -c allure-results -o allure-report
      - name: Save allure report
        uses: actions/upload-artifact@v5
        with:
          name: allure-report
          path: allure-report
          retention-days: 1
