name: Python autotests

on:
  workflow_dispatch:
    inputs:
      deployment_target:
        description: choice tests set
        required: true
        type: choice
        default: smoke
        options:
          - smoke
          - regression
          - extended
          - all

jobs:
  run-tests:
    runs-on: ubuntu-latest
    name: Run autotests
    steps:
      - name: Checkout autotests
        uses: actions/checkout@v6
      - name: Set up Python environment
        uses: actions/setup-python@v6
        with:
          python-version: '3.13'
      - name: Install dependencies
        run: pip install -r requirements.txt
      - name: Run all tests
        if: "github.event.inputs.deployment_target == 'all'"
        run: pytest -vs
      - name: Run smoke tests
        if: "github.event.inputs.deployment_target == 'smoke'"
        run: pytest -vs -m smoke
      - name: Run regression tests
        if: "github.event.inputs.deployment_target == 'regression'"
        run: pytest -vs -m regression
      - name: Run extended tests
        if: "github.event.inputs.deployment_target == 'extended'"
        run: pytest -vs -m extended
        
      
